<h2><%= @photo.caption %></h2>
<div class="">
  <%= image_tag(@photo.file) %>
  <% if current_user == @user %>
  <%= link_to "Edit", edit_user_photo_path(@user, @photo)%>
  <%= link_to "Destroy", user_photo_path(@user, @photo),
                                :data => {:confirm => "Are you sure?",
                                  :method => "delete"}%>
    <%= form_for [@user, @photo] do |f| %>
      <%= f.label :text %>
      <%= f.text_field :text %>
      <p><%= f.submit %></p>
    <% end %>
  <% end %>
</div>
